<span style="font-weight: bold;">Name </span>: <%= @user['full_name'] %>
 <%= tag(:br) %>
<span style="font-weight: bold;">Username:</span><%= @user['username'] %>
 <%= tag(:br) %>
<span style="font-weight: bold;">Account Type:</span> <%= @user['is_verified'] ? "Verified" : "Not verified" %>
 <%= tag(:br) %>
<span style="font-weight: bold;">Number Of Followers:</span> <%= @user['edge_followed_by']['count'] ? @user['edge_followed_by']['count'] : "Not Available"  %>
 <%= tag(:br) %>
<span style="font-weight: bold;">Number of Followings:</span> <%= @user['followed_by_viewer'] ? @user['followed_by_viewer'] : "Not Available"  %>
 <%= tag(:br) %>
 <%= tag(:hr) %>
<span style="font-weight: bold; font-size: 20px;">Profile pic</span> <%= tag(:br) %>
 <%= image_tag("#{@user['profile_pic_url_hd']}") %>
 <%= tag(:br) %>
 <%= tag(:hr) %>
<% if @user['is_private'] == true %>
    <h2> The account is private. </h2>
<% else %>
    <% @i = 1 %>
    <% @user['edge_owner_to_timeline_media']['edges'].each do |node| -%>
    <h2>Post-<%= @i %> </h2>
    <span style="font-weight: bold;">Number of Likes:</span> <%= node['node']['edge_liked_by']['count'] %>
    <%= tag(:br) %>
<span style="font-weight: bold;">Number of Comments:</span> <%= node['node']['edge_media_to_comment']['count'] %>
    <%= tag(:br) %>
<span style="font-weight: bold;">Caption:</span> <%= node['node']['edge_media_to_caption']['edges'][0]['node']['text'] %>
    <%= tag(:br) %>
    <%= tag(:br) %>
    <% if node['node']['__typename'] == 'GraphImage' %>
            <%= image_tag("#{node['node']['display_url']}", height: "300", width: "auto") %>
        <% else %>
            <%= video_tag "https://www.youtube.com/watch?v=jOzy2dvLG0E&list=RDUDDMYw_IZnE&index=26", :size => "320x240", :controls => true %>
            <%= video_tag("#{node['node']['display_url']}", controls: true, autobuffer: true, height: "100", width: "auto") %>
        <%end %>
        <% @i += 1 %>
        <%= tag(:hr) %>
        <%= tag(:br) %>
    <% end -%>
<% end %>